@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Berlin Sans FB Demi Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Berlin Sans FB Demi Bold"), url("BRLNSDB.woff") format("woff");
}

@font-face {
  font-family: 'Berlin Sans FB';
  font-style: normal;
  font-weight: normal;
  src: local("Berlin Sans FB"), url("BRLNSR.woff") format("woff");
}

@font-face {
  font-family: 'Berlin Sans FB Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Berlin Sans FB Bold"), url("BRLNSB.woff") format("woff");
}

html {
  font-size: 62.5%;
}

/* 10px */
body {
  color: #3E3E3E;
  font-family: 'Montserrat',"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #F3F3F3;
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
  /* 16px */
}

li {
  font-size: 1.6rem;
  /* 16px */
  list-style: none;
}

li p {
  font-size: 1.6rem;
  /* 16px */
}

a {
  text-decoration: none;
}

.header-wrap {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-wrap-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.header-wrap-nav__item {
  color: #3E3E3E;
  font-size: 16px;
  letter-spacing: -0.025em;
  margin-right: 4rem;
  text-transform: capitalize;
  position: relative;
}

.header-wrap-nav__item:before, .header-wrap-nav__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4.5px;
  outline: solid thin #707070;
  transition: all 0.5s;
  width: 0;
  opacity: 0;
}

.header-wrap-nav__item:hover:before, .header-wrap-nav__item:hover:after {
  opacity: 1;
  width: 100%;
}

.header-wrap-nav_sp {
  display: none;
}

.sp_menu-label {
  display: inline-block;
  padding: 25px 0;
  cursor: pointer;
}

.sp_menu-icon {
  background: #3E3E3E;
  border-radius: 4px;
  display: block;
  transition: all 0.3s ease-in-out;
  width: 26px;
  height: 3.5px;
  position: relative;
  left: 0;
  top: 0;
}

.sp_menu-icon:before {
  background: #3E3E3E;
  border-radius: 4px;
  display: block;
  transition: all 0.3s ease-in-out;
  width: 26px;
  height: 3.5px;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -8px;
  transform: translateY(0px) rotate(0deg);
  -webkit-transform: translateY(0px) rotate(0deg);
}

.sp_menu-icon:after {
  background: #3E3E3E;
  border-radius: 4px;
  display: block;
  transition: all 0.3s ease-in-out;
  width: 26px;
  height: 3.5px;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  transform: translateY(0px) rotate(0deg);
  -webkit-transform: translateY(0px) rotate(0deg);
}

.sp_menu-check {
  display: none;
}

.sp_menu-label-bg {
  position: fixed;
  top: 0;
  right: 0;
  height: 1000px;
  width: 100%;
}

.sp_menu-content {
  position: fixed;
  top: 0;
  right: 0;
  height: 1000px;
  width: 80%;
  background-color: #FFF;
  transition: all 1s;
}

.sp_menu-content-nav {
  text-align: center;
  padding-top: 8.7rem;
}

.sp_menu-content-nav__item {
  text-transform: capitalize;
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0.0075rem;
  display: inline-block;
  padding: 0.75rem 0;
  position: relative;
}

.sp_menu-content-nav__item:before, .sp_menu-content-nav__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  outline: solid thin #707070;
  transition: all 0.5s;
  width: 0;
  opacity: 0;
}

.sp_menu-content-nav__item:hover:before, .sp_menu-content-nav__item:hover:after {
  opacity: 1;
  width: 100%;
}

.sp_menu-content {
  transform: translateX(100%);
}

.sp_menu-label-bg {
  display: none;
}

#sp_menu-check:checked ~ .sp_menu-content {
  transform: translateX(0%);
}

#sp_menu-check:checked ~ .sp_menu-label-bg {
  display: block;
}

#sp_menu-check:checked ~ .sp_menu-label .sp_menu-icon {
  height: 0;
}

#sp_menu-check:checked ~ .sp_menu-label .sp_menu-icon::before, .sp_menu-label .sp_menu-icon::after {
  height: 3.5px;
}

#sp_menu-check:checked ~ .sp_menu-label .sp_menu-icon::before {
  transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
}

#sp_menu-check:checked ~ .sp_menu-label .sp_menu-icon::after {
  transform: translateY(-8px) rotate(-45deg);
  -webkit-transform: translateY(-8px) rotate(-45deg);
}

.scroll {
  transition: all 1s;
}

.scroll_active {
  margin-right: 80%;
  margin-left: -80%;
}

.nav_active {
  position: relative;
}

.nav_active:before, .nav_active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  outline: solid thin #4973FF;
  transition: all 0.5s;
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header-wrap {
    background-color: white !important;
  }
  .header-wrap-nav {
    display: none;
  }
  .header-wrap-nav_sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 6.8rem;
    width: 90%;
    margin: 0 auto;
  }
  .nav_active {
    position: relative;
  }
  .nav_active:before, .nav_active:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    outline: solid thin #4973FF;
    transition: all 0.5s;
    width: 100%;
    opacity: 1;
  }
}

.top-wrap {
  background-image: url(../img/mv.png);
  background-size: cover;
  height: 64.8rem;
  background-position: 20% center;
  position: relative;
  display: block;
}

.top-wrap-box {
  position: absolute;
  width: 38%;
  top: 21.7rem;
  right: 11.5rem;
}

.top-wrap-box__heading {
  color: #3E3E3E;
  font-size: 30px;
  letter-spacing: 0.0075rem;
  font-weight: bold;
  margin-bottom: 3.7rem;
}

.top-wrap-box__text {
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0.025rem;
  margin-bottom: 3.5rem;
}

.top-wrap-box__contact-btn {
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.025rem;
  font-size: 18px;
  background-color: #FFAA3B;
  display: inline-block;
  border-radius: 1rem;
  padding: 1.2rem 0;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  width: 280px;
  transition: background-color 0.1s;
}

.top-wrap-box__contact-btn:hover {
  background-color: #ff9408;
  transition: all 0.1;
}

.top-wrap-box__contact-btn:hover:active {
  background-color: #B2B2B2;
}

@media screen and (max-width: 1179px) {
  .top-wrap-box {
    width: 60%;
    right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .top-wrap {
    height: 66.8rem;
    background-position: 24% center;
  }
  .top-wrap-box {
    width: 100%;
    left: 0;
    top: 20.5rem;
  }
  .top-wrap-box__heading {
    color: #3E3E3E;
    font-size: 24px;
    letter-spacing: 0.0075rem;
    margin-left: 2rem;
    width: 95%;
    line-height: 4rem;
  }
  .top-wrap-box__text {
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0.025rem;
    width: 93%;
    margin-left: 1.5rem;
    width: 90%;
    margin-bottom: 4rem;
  }
  .top-wrap-box__contact-btn {
    width: 230px;
    display: block;
    margin: 0 auto;
  }
}

.news-wrap {
  text-align: center;
  background-color: #FFF;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13rem;
  margin-bottom: 13rem;
  padding-top: 5.5rem;
  padding-bottom: 4rem;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

.news-wrap__heading {
  color: #3E3E3E;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  margin-bottom: 5.5rem;
  font-weight: 600;
}

.news-wrap__link--white {
  color: #3E3E3E;
  font-size: 20px;
  letter-spacing: 0.4rem;
  display: inline-block;
  padding: 1.6rem 8.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #707070;
  transition: all 0.2s;
}

.news-wrap__link--white:hover {
  background-color: #3E3E3E;
  color: #FFF;
}

.news-wrap .news-wrap-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: #CECDCD 1px solid;
  width: 91.5%;
  margin: 0 auto;
  padding: 3.85rem .8rem;
  transition: background-color 0.5s;
}

.news-wrap .news-wrap-contents:hover {
  background-color: rgba(59, 105, 255, 0.2);
}

.news-wrap .news-wrap-contents:nth-of-type(3n) {
  border-bottom: #CECDCD 1px solid;
  margin-bottom: 4rem;
}

.news-wrap .news-wrap-contents__date {
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0.025rem;
  margin-right: 1.5rem;
}

.news-wrap .news-wrap-contents__label {
  color: #3E3E3E;
  font-size: 14px;
  letter-spacing: 0.025rem;
  border: solid 2px #4973FF;
  border-radius: 5rem;
  padding: .19rem 3.3rem;
  margin-right: 1.2rem;
  background-color: #FFF;
}

.news-wrap .news-wrap-contents__text {
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0.025rem;
  width: 62%;
  text-align: left;
}

@media screen and (max-width: 1179px) {
  .news-wrap {
    max-width: 95%;
  }
  .news-wrap .news-wrap-contents__label {
    margin-right: 3rem;
  }
  .news-wrap .news-wrap-contents__text {
    color: #3E3E3E;
    font-size: 18px;
    letter-spacing: 0.025rem;
    width: 90%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .news-wrap {
    position: relative;
    top: -170px;
    max-width: 90%;
    padding-top: 3.5rem;
    margin-bottom: -10.8rem;
  }
  .news-wrap__heading {
    color: #3E3E3E;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 3.8rem;
  }
  .news-wrap__link--white {
    padding: 1.2rem 1rem;
    width: 91%;
    font-size: 18px;
  }
  .news-wrap .news-wrap-contents {
    width: 100%;
    padding: 1.5rem 1.2rem 1rem 1.2rem;
    position: relative;
  }
  .news-wrap .news-wrap-contents:nth-of-type(3n) {
    margin-bottom: 4.3rem;
  }
  .news-wrap .news-wrap-contents__date {
    color: #3E3E3E;
    font-size: 14px;
    letter-spacing: 0.025rem;
    margin-right: 1.5rem;
  }
  .news-wrap .news-wrap-contents__label {
    color: #3E3E3E;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: .15rem 2rem;
    margin-right: 40%;
  }
  .news-wrap .news-wrap-contents__text {
    color: #3E3E3E;
    font-size: 14px;
    letter-spacing: -0.025rem;
    width: 89%;
  }
  .news-wrap .news-wrap-contents__icon {
    position: absolute;
    right: 1rem;
    top: 40%;
  }
}

.service-wrap {
  text-align: center;
  background-color: #3E3E3E;
  padding-top: 7.5rem;
  padding-bottom: 4rem;
  position: relative;
  height: 40rem;
  margin-bottom: 20rem;
}

.service-wrap__heading {
  color: #FFF;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.service-wrap-box {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 70.2%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20.4rem;
  padding: 3.87% 3.1% 3.61% 3.1%;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

.service-wrap-box-contents {
  width: 27%;
}

.service-wrap-box-contents__img {
  width: 5.3rem;
}

.service-wrap-box-contents__img--design {
  margin-bottom: 2rem;
}

.service-wrap-box-contents__img--coding {
  margin-bottom: 2.5rem;
}

.service-wrap-box-contents__img--cms {
  margin-bottom: 2.5rem;
}

.service-wrap-box-contents__heading {
  color: #3E3E3E;
  font-size: 20px;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.service-wrap-box-contents__text {
  color: #3E3E3E;
  font-size: 14px;
  letter-spacing: 0.0075rem;
  text-align: left;
  line-height: 2.5rem;
}

@media screen and (max-width: 1179px) {
  .service-wrap-box {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .service-wrap {
    padding-top: 3.8rem;
    padding-bottom: 4rem;
    height: 48rem;
    margin-bottom: 17rem;
  }
  .service-wrap__heading {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 0;
  }
  .service-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 91%;
    top: 11.5rem;
    padding: 4rem 3.5% 3.5rem 3.5%;
  }
  .service-wrap-box-contents {
    width: 100%;
  }
  .service-wrap-box-contents:not(:last-child) {
    margin-bottom: 6.4rem;
  }
  .service-wrap-box-contents__heading {
    color: #3E3E3E;
    font-size: 18px;
    letter-spacing: 0.3rem;
    margin-bottom: 1.2rem;
  }
  .service-wrap-box-contents__text {
    color: #3E3E3E;
    font-size: 14px;
    letter-spacing: 0.0075rem;
  }
}

.results-wrap {
  padding-left: 6.8%;
  margin-top: 25.5rem;
}

.results-wrap-box {
  background-color: #3E3E3E;
  padding-left: 11rem;
  padding-top: 7.5rem;
  padding-bottom: 8rem;
}

.results-wrap-box__heading {
  color: #FFF;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 8rem;
}

.results-wrap-box__link--gray {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 0.4rem;
  display: inline-block;
  padding: 1.6rem 8.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #fff;
  transition: all 0.2s;
}

.results-wrap-box__link--gray:hover {
  background-color: #FFF;
  color: #3E3E3E;
}

.swiper-wrapper {
  margin-bottom: 11.6rem;
}

.swiper-wrapper .swiper-slide {
  background-color: #FFF;
}

.swiper-wrapper .swiper-slide__img {
  width: 100%;
}

.swiper-wrapper .swiper-slide__heading {
  color: #3E3E3E;
  font-size: 20px;
  letter-spacing: 0.00007px;
  padding: 1rem 0 0 2rem;
  font-weight: bold;
}

.swiper-wrapper .swiper-slide__text {
  color: #3E3E3E;
  font-size: 16px;
  letter-spacing: 0.00007px;
  padding: 1.5rem 2rem 2rem 2rem;
}

@media screen and (max-width: 767px) {
  .results-wrap {
    padding-left: 0;
    margin-top: 45rem;
  }
  .results-wrap-box {
    padding-top: 3.3rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-bottom: 3.8rem;
  }
  .results-wrap-box__heading {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 3.5rem;
    margin-right: 1.3rem;
  }
  .results-wrap-box__link--gray {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.4rem;
    display: inline-block;
    padding: 1.6rem 8.3rem;
    font-weight: bold;
    text-transform: uppercase;
    border: solid 1px #fff;
    padding: 1.35rem 1rem;
    width: 95%;
    text-align: center;
  }
  .swiper-wrapper {
    margin-bottom: 8.1rem;
  }
  .swiper-wrapper .swiper-slide {
    background-color: #FFF;
  }
  .swiper-wrapper .swiper-slide__img {
    width: 100%;
  }
  .swiper-wrapper .swiper-slide__heading {
    color: #3E3E3E;
    font-size: 15px;
    letter-spacing: 0.00007px;
    padding: 0.65rem 0 0 1.1rem;
    font-weight: bold;
  }
  .swiper-wrapper .swiper-slide__text {
    color: #3E3E3E;
    font-size: 12px;
    letter-spacing: 0.00007px;
    padding: 1rem 2rem 1.5rem 1.4rem;
    line-height: 2rem;
  }
  .swiper-pagination-fraction, .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 32px !important;
    left: 22% !important;
  }
}

.price-wrap__heading {
  color: #3E3E3E;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 7.5rem;
  margin-bottom: 7rem;
  text-align: center;
}

.price-wrap-table {
  border: #707070 1px solid;
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
}

.price-wrap-table tr {
  border: #707070 1px solid;
}

.price-wrap-table__heading {
  color: #FFF;
  font-size: 24px;
  letter-spacing: 0.00007px;
  background-color: #3E3E3E;
  border-bottom: #FFF 1px solid;
  font-weight: 600;
  padding: 1.3rem  0 1.15rem 0;
  width: 30%;
}

.price-wrap-table__data {
  color: #3E3E3E;
  font-size: 24px;
  letter-spacing: 0.00007px;
  font-weight: 600;
  border: #707070 1px solid;
  padding-left: 4rem;
  text-transform: capitalize;
  background-color: #FFF;
}

.price-wrap__annotation {
  color: #3E3E3E;
  font-size: 12px;
  letter-spacing: 0;
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 2.4rem;
}

@media screen and (max-width: 767px) {
  .price-wrap__heading {
    color: #3E3E3E;
    font-size: 30px;
    letter-spacing: 0;
    margin-top: 3.8rem;
    margin-bottom: 3.5rem;
  }
  .price-wrap-table {
    width: 92%;
    margin: 0 auto;
  }
  .price-wrap-table tr {
    border: #707070 1px solid;
  }
  .price-wrap-table__heading {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 0.00007px;
    padding: 1.5rem  0 1.4rem  0;
  }
  .price-wrap-table__data {
    color: #3E3E3E;
    font-size: 20px;
    letter-spacing: 0.00007px;
    padding-left: 2rem;
  }
  .price-wrap__annotation {
    color: #3E3E3E;
    font-size: 12px;
    letter-spacing: 0;
    margin-top: 1.2rem;
    width: 100%;
    padding-left: 1.8rem;
  }
}

.comments-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 13.1rem;
  padding-bottom: 13rem;
  position: relative;
}

.comments-wrap::before {
  content: '';
  display: block;
  width: 72%;
  height: 80.5%;
  max-width: 980px;
  background: #3E3E3E;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.comments-wrap-box {
  max-width: 644px;
  background-color: #FFF;
  padding: 0 4.2rem 6.5rem 4rem;
  box-shadow: 0 0 12px rgba(62, 62, 62, 0.2);
}

.comments-wrap-box__heading {
  color: #3E3E3E;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 6.5rem;
}

.comments-wrap-box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7rem;
  padding-top: 1rem;
}

.comments-wrap-box-content__text {
  width: 73.5%;
  line-height: 2.5rem;
}

.comments-wrap-img {
  margin-top: 7.5rem;
  width: 39.3%;
}

@media screen and (max-width: 1179px) {
  .comments-wrap-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .comments-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 13.1rem;
    padding-bottom: 7.5rem;
    margin-bottom: -1.5rem;
  }
  .comments-wrap::before {
    width: 100%;
    height: 100%;
    top: -15px;
  }
  .comments-wrap-box {
    max-width: 90%;
    margin-top: -7rem;
    padding: 0 2.5rem 1.5rem 1.5rem;
  }
  .comments-wrap-box__heading {
    color: #3E3E3E;
    font-size: 30px;
    letter-spacing: 0;
    margin-top: 3.5rem;
    margin-bottom: 2.8rem;
  }
  .comments-wrap-box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
  .comments-wrap-box-content__img {
    width: 18%;
  }
  .comments-wrap-box-content__text {
    color: #3E3E3E;
    font-size: 14px;
    letter-spacing: 0;
    width: 72%;
    line-height: 2.2rem;
  }
  .comments-wrap-img {
    margin-top: 7.5rem;
    width: 39.3%;
  }
}

.faqs-wrap {
  background-image: url(../img/sunyu-kim-1053375-unsplash.jpg);
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 4rem;
  background-position: 90%;
}

.faqs-wrap-box {
  width: 45%;
  position: relative;
  left: 46.9%;
}

.faqs-wrap-box__heading {
  color: #3E3E3E;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8rem;
}

.faqs-wrap-box__accordion {
  background-color: #FFF;
  margin-bottom: 4rem;
  border-radius: 0.7rem;
  padding: 2rem 2rem 2rem 2rem;
  transition: all 0.5s;
  position: relative;
}

.faqs-wrap-box__accordion input[type=checkbox] {
  display: none;
}

.faqs-wrap-box__accordion .acd-label {
  position: relative;
  display: block;
  margin-left: 3.5rem;
  cursor: pointer;
  font-weight: bold;
}

.faqs-wrap-box__accordion .acd-label:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 15px;
  height: 0;
  border: solid 1.5px #4973FF;
  top: 45%;
  right: 0;
  border-radius: 1em;
}

.faqs-wrap-box__accordion .acd-label:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 15px;
  height: 0;
  border: solid 1.5px #4973FF;
  top: 45%;
  right: 0;
  border-radius: 1em;
  transform: rotate(90deg);
  transition: .5s;
}

.faqs-wrap-box__accordion .acd-label .sample {
  display: inline-block;
  height: 26px;
  width: 26px;
  background-color: #4973FF;
  text-align: center;
  font-weight: 600;
  color: #FFF;
  border-radius: 50%;
  margin-right: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
}

.faqs-wrap-box__accordion .acd-content {
  border-radius: 0.7rem;
  background-color: rgba(59, 105, 255, 0.2);
  padding: 0 1.2rem;
  height: 0;
  margin-top: 0;
  visibility: hidden;
  transition: .5s;
  opacity: 0;
  line-height: 2.5rem;
}

.acd-check:checked + .acd-label:after {
  transform: rotate(0deg);
}

.acd-check:checked + .acd-label + .acd-content {
  border-radius: 0.7rem;
  background-color: rgba(59, 105, 255, 0.2);
  padding: 1.5rem 1.2rem;
  margin-top: 1.8rem;
  visibility: visible;
  height: auto;
  opacity: 1;
  line-height: 2.5rem;
}

@media screen and (max-width: 1179px) {
  .faqs-wrap {
    background-position: 60%;
  }
  .faqs-wrap-box {
    width: 55%;
    left: 40%;
  }
}

@media screen and (max-width: 767px) {
  .faqs-wrap {
    padding-top: 3.7rem;
    padding-bottom: 1rem;
    background-position: 50%;
  }
  .faqs-wrap-box {
    width: 91%;
    left: 4.5%;
  }
  .faqs-wrap-box__heading {
    color: #3E3E3E;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 3.5rem;
    text-align: center;
  }
  .faqs-wrap-box__accordion {
    margin-bottom: 2.9rem;
    padding: 2.1rem 2rem 2.1rem 2rem;
  }
  .faqs-wrap-box__accordion .acd-label {
    position: relative;
    display: block;
    margin-left: 3.5rem;
    cursor: pointer;
    font-weight: bold;
  }
}

.access-wrap {
  padding-top: 12.5rem;
  position: relative;
  padding-bottom: 13rem;
}

.access-wrap:before {
  content: '';
  display: block;
  width: 71.8%;
  height: 73%;
  background: #3E3E3E;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.access-wrap-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1180px;
  margin: 0 auto;
}

.access-wrap-box__link--gray_sp {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 0.2rem;
  display: inline-block;
  padding: 1.6rem 8.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #fff;
  padding: 1.6rem 8.4rem;
  text-transform: none;
  display: none;
  transition: all 0.2s;
}

.access-wrap-box__link--gray_sp:hover {
  background-color: #FFF;
  color: #3E3E3E;
}

.access-wrap-box-left {
  display: inline-block;
}

.access-wrap-box-left__heading {
  color: #FFF;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
  font-weight: 600;
}

.access-wrap-box-left__address {
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 4rem;
}

.access-wrap-box-left__link--gray {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 0.2rem;
  display: inline-block;
  padding: 1.6rem 8.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #fff;
  padding: 1.6rem 8.4rem;
  text-transform: none;
  transition: all 0.2s;
}

.access-wrap-box-left__link--gray:hover {
  background-color: #FFF;
  color: #3E3E3E;
}

.access-wrap-box__map iframe {
  width: 720px;
  height: 515px;
}

@media screen and (max-width: 1179px) {
  .access-wrap {
    padding-bottom: 10rem;
  }
  .access-wrap:before {
    width: 85%;
  }
  .access-wrap-box {
    max-width: 85%;
  }
  .access-wrap-box-left {
    display: inline-block;
    width: 85%;
  }
  .access-wrap-box-left__heading {
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
  }
  .access-wrap-box-left__address {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
  }
  .access-wrap-box-left__link--gray {
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .access-wrap-box__map {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: calc(100%*0.7);
  }
  .access-wrap-box__map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .access-wrap {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    background: #3E3E3E;
  }
  .access-wrap:before {
    display: none;
  }
  .access-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 92%;
    margin: 0 auto;
  }
  .access-wrap-box__link--gray_sp {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.2rem;
    display: inline-block;
    padding: 1.6rem 8.3rem;
    font-weight: bold;
    text-transform: uppercase;
    border: solid 1px #fff;
    padding: 1.1rem 0;
    text-transform: none;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .access-wrap-box-left {
    display: inline-block;
  }
  .access-wrap-box-left__heading {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 1.1rem;
  }
  .access-wrap-box-left__address {
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 1.2rem;
    width: 100%;
    line-height: 2.5rem;
  }
  .access-wrap-box-left__link--gray {
    display: none;
  }
  .access-wrap-box__map {
    margin-bottom: 4.2rem;
  }
}

.contact-wrap {
  background-image: url(../img/alex-blajan-159378-unsplash.png);
  background-size: cover;
  background-position: center center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.contact-wrap-box {
  max-width: 960px;
  border-radius: 1.2rem;
  background-color: #FFF;
  margin: 0 auto;
}

.contact-wrap-box-top {
  background-image: url(../img/contact1.png);
  background-position: center center;
  -webkit-border-radius: 1.2rem 1.2rem 0 0;
  -moz-border-radius: 1.2rem 1.2rem 0 0;
  border-radius: 1.2rem 1.2rem 0 0;
  object-fit: cover;
}

.contact-wrap-box-top__heading {
  color: #FFF;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: capitalize;
  padding-top: 5.3rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: .5rem;
}

.contact-wrap-box-top__text {
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.00075px;
  text-align: center;
  padding-bottom: 6.15rem;
}

.contact-wrap-box-form {
  padding: 6.0rem 9rem;
}

.contact-wrap-box-form-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.8rem;
}

.contact-wrap-box-form-type__heading {
  width: 35.2%;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-type__flame {
  position: relative;
  border: 1px solid #707070;
  width: 280px;
}

.contact-wrap-box-form-type__flame::before {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  border: 1px solid #3E3E3E;
  z-index: 2000;
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  right: 1.5rem;
}

.contact-wrap-box-form-type__flame::after {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  border: 1px solid #3E3E3E;
  z-index: 2000;
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
  right: 1rem;
}

.contact-wrap-box-form-type__flame__form {
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0;
  padding: 0.3rem 0rem 0.1rem 1rem;
}

.contact-wrap-box-form-type__flame__form:hover {
  box-shadow: #4973FF 0 0 5px;
}

.contact-wrap-box-form-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.7rem;
}

.contact-wrap-box-form-name__heading {
  width: 35.2%;
  position: relative;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-name__heading:after {
  position: absolute;
  content: '必須';
  display: inline-block;
  background-color: #FF4646;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0 1.1rem 0 1.2rem;
  border-radius: .5rem;
  margin-top: .35rem;
  display: inline-block;
  position: absolute;
  left: 14rem;
}

.contact-wrap-box-form-name__input {
  border: none;
  border-bottom: solid 1px #3E3E3E;
  width: 64.80%;
  opacity: 0.5;
  padding-left: 1rem;
}

.contact-wrap-box-form-name__input:hover, .contact-wrap-box-form-name__input:active, .contact-wrap-box-form-name__input:focus {
  outline: none;
  border-bottom: solid 1px #4973FF;
  box-shadow: 0px 4px 3px -3px #afc1ff;
  -webkit-box-shadow: 0px 4px 3px -3px #afc1ff;
  -moz-box-shadow: 0px 4px 3px -3px #afc1ff;
}

.contact-wrap-box-form-phonetic {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.7rem;
}

.contact-wrap-box-form-phonetic__heading {
  width: 35.2%;
  position: relative;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-phonetic__heading:after {
  position: absolute;
  content: '必須';
  display: inline-block;
  background-color: #FF4646;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0 1.1rem 0 1.2rem;
  border-radius: .5rem;
  margin-top: .35rem;
  left: 14rem;
}

.contact-wrap-box-form-phonetic__input {
  border: none;
  border-bottom: solid 1px #3E3E3E;
  width: 64.80%;
  opacity: 0.5;
  padding-left: 1rem;
}

.contact-wrap-box-form-phonetic__input:hover, .contact-wrap-box-form-phonetic__input:active, .contact-wrap-box-form-phonetic__input:focus {
  outline: none;
  border-bottom: solid 1px #4973FF;
  box-shadow: 0px 4px 3px -3px #afc1ff;
  -webkit-box-shadow: 0px 4px 3px -3px #afc1ff;
  -moz-box-shadow: 0px 4px 3px -3px #afc1ff;
}

.contact-wrap-box-form-mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.7rem;
}

.contact-wrap-box-form-mail__heading {
  width: 35.2%;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-mail__input {
  border: none;
  border-bottom: solid 1px #3E3E3E;
  width: 64.80%;
  opacity: 0.5;
  padding-left: 1rem;
}

.contact-wrap-box-form-mail__input:hover, .contact-wrap-box-form-mail__input:active, .contact-wrap-box-form-mail__input:focus {
  outline: none;
  border-bottom: solid 1px #4973FF;
  box-shadow: 0px 4px 3px -3px #afc1ff;
  -webkit-box-shadow: 0px 4px 3px -3px #afc1ff;
  -moz-box-shadow: 0px 4px 3px -3px #afc1ff;
}

.contact-wrap-box-form-gender {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.7rem;
}

.contact-wrap-box-form-gender__heading {
  width: 35.2%;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-gender input[type=radio] {
  display: none;
}

.contact-wrap-box-form-gender .radio_label {
  position: relative;
  margin-left: 2.5rem;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
}

.contact-wrap-box-form-gender .radio_label:hover::before {
  box-shadow: #4973FF 0 0 5px;
  border: 1px solid #4973FF;
}

.contact-wrap-box-form-gender .radio_label:active::before {
  box-shadow: #4973FF 0 0 5px;
  border: 1px solid #4973FF;
  background-color: #afc1ff;
}

.contact-wrap-box-form-gender .radio_label:before {
  content: "";
  position: absolute;
  display: block;
  top: 28%;
  left: -2.5rem;
  width: 12px;
  height: 12px;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
}

.contact-wrap-box-form-gender .radio_label::after {
  content: "";
  display: block;
  position: absolute;
  left: -2.2rem;
  top: 36%;
  width: 6px;
  height: 6px;
  background: #3F51B5;
  border-radius: 50%;
  opacity: 0;
}

.contact-wrap-box-form-gender .radio_label:first-of-type {
  margin-right: 6rem;
}

.contact-wrap-box-form-massage {
  margin-bottom: 2.2rem;
}

.contact-wrap-box-form-massage__heading {
  width: 35.2%;
  color: #3E3E3E;
  font-size: 22px;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
}

.contact-wrap-box-form-massage__text-area {
  width: 100%;
  height: 213px;
  padding: 0.5rem;
}

.contact-wrap-box-form-massage__text-area:hover, .contact-wrap-box-form-massage__text-area:active, .contact-wrap-box-form-massage__text-area:focus {
  outline: none;
  border: solid 1px #4973FF;
  box-shadow: 0px 4px 3px -3px #afc1ff;
  -webkit-box-shadow: 0px 4px 3px -3px #afc1ff;
  -moz-box-shadow: 0px 4px 3px -3px #afc1ff;
}

.contact-wrap-box-form-agreement {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-wrap-box-form-agreement input[type=checkbox] {
  display: none;
}

.contact-wrap-box-form-agreement__text {
  font-size: 18px;
}

.contact-wrap-box-form-agreement__label {
  position: relative;
  margin-left: 4rem;
}

.contact-wrap-box-form-agreement__label:hover::before {
  box-shadow: #4973FF 0 0 5px;
  border: 1px solid #4973FF;
}

.contact-wrap-box-form-agreement__label:active::before {
  box-shadow: #4973FF 0 0 5px;
  border: 1px solid #4973FF;
  background-color: #afc1ff;
}

.contact-wrap-box-form-agreement__label:before {
  content: "";
  position: absolute;
  display: block;
  top: -1rem;
  left: -4.2rem;
  width: 20px;
  height: 20px;
  border: 1px solid #3E3E3E;
}

.contact-wrap-box-form-agreement__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 16px;
  border-bottom: solid 3px #4973FF;
  border-right: solid 3px #4973FF;
  opacity: 0;
  transform: rotate(45deg);
  top: -1.1rem;
  left: -3.7rem;
}

.contact-wrap-box-form-send__btn {
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.025rem;
  font-size: 18px;
  background-color: #FFAA3B;
  display: inline-block;
  border-radius: 1rem;
  padding: 1.2rem 0;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  width: 22.3%;
}

.contact-wrap-box-form-send__btn:hover {
  background-color: #ff9408;
  transition: all 0.1s;
}

.contact-wrap-box-form-send__btn:hover:active {
  background-color: #B2B2B2;
}

.contact-wrap input[type=radio]:checked + .radio_label:after {
  opacity: 1;
}

.contact-wrap input[type=checkbox]:checked + .contact-wrap-box-form-agreement__label:after {
  opacity: 1;
}

@media screen and (max-width: 1179px) {
  .contact-wrap-box {
    max-width: 95%;
  }
  .contact-wrap-box-top {
    background-size: 120%;
  }
  .contact-wrap-box-form-name__heading:after {
    left: 11rem;
  }
  .contact-wrap-box-form-phonetic__heading:after {
    left: 11rem;
  }
}

@media screen and (max-width: 767px) {
  input::-webkit-input-placeholder {
    font-size: 16px;
  }
  input:-moz-placeholder {
    font-size: 16px;
  }
  .contact-wrap {
    background-size: cover;
    background-position: center center;
    padding-top: 4.2rem;
    padding-bottom: 8rem;
  }
  .contact-wrap-box {
    max-width: 92%;
  }
  .contact-wrap-box-top {
    background-image: url(../img/contact1.png);
    background-position: center center;
    -webkit-border-radius: 1.2rem 1.2rem 0 0;
    -moz-border-radius: 1.2rem 1.2rem 0 0;
    border-radius: 1.2rem 1.2rem 0 0;
    object-fit: cover;
    background-size: auto;
  }
  .contact-wrap-box-top__heading {
    color: #FFF;
    font-size: 30px;
    letter-spacing: 0;
    padding-top: 2.7rem;
    padding-bottom: .5rem;
  }
  .contact-wrap-box-top__text {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.00075px;
    text-align: left;
    padding-bottom: 3.2rem;
    width: 91%;
    line-height: 2.4rem;
    margin: 0 auto;
  }
  .contact-wrap-box-form {
    padding: 4rem 1.5rem;
  }
  .contact-wrap-box-form-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.8rem;
  }
  .contact-wrap-box-form-type__heading {
    width: 100%;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
  }
  .contact-wrap-box-form-type__flame {
    position: relative;
    padding: 0;
    border: 1px solid #707070;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    display: block;
    width: 100%;
  }
  .contact-wrap-box-form-type__flame::before {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    border: 1px solid #3E3E3E;
    z-index: 2000;
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    right: 1.5rem;
  }
  .contact-wrap-box-form-type__flame::after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    border: 1px solid #3E3E3E;
    z-index: 2000;
    position: absolute;
    transform: rotate(-45deg);
    top: 50%;
    right: 1rem;
  }
  .contact-wrap-box-form-type__flame__form {
    padding: 0.3rem 0 0.1rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    border: none;
    width: 100%;
  }
  .contact-wrap-box-form-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.7rem;
  }
  .contact-wrap-box-form-name__heading {
    width: 100%;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
  }
  .contact-wrap-box-form-name__heading:after {
    position: absolute;
    content: '必須';
    display: inline-block;
    background-color: #FF4646;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0;
    padding: 0 1.1rem 0 1.2rem;
    border-radius: .5rem;
    margin-top: .35rem;
    font-size: 14px;
    left: 5.2rem;
  }
  .contact-wrap-box-form-name__input {
    width: 100%;
  }
  .contact-wrap-box-form-phonetic {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.7rem;
  }
  .contact-wrap-box-form-phonetic__heading {
    width: 100%;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
  }
  .contact-wrap-box-form-phonetic__heading:after {
    position: absolute;
    content: '必須';
    display: inline-block;
    background-color: #FF4646;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0;
    padding: 0 1.1rem 0 1.2rem;
    border-radius: .5rem;
    margin-top: .35rem;
    top: -3px;
    font-size: 14px;
    left: 8.5rem;
  }
  .contact-wrap-box-form-phonetic__input {
    width: 100%;
  }
  .contact-wrap-box-form-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.7rem;
  }
  .contact-wrap-box-form-mail__heading {
    width: 100%;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0.2rem;
  }
  .contact-wrap-box-form-mail__input {
    width: 100%;
  }
  .contact-wrap-box-form-gender {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.7rem;
  }
  .contact-wrap-box-form-gender__heading {
    width: 100%;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: .9rem;
  }
  .contact-wrap-box-form-gender .radio_label {
    position: relative;
    margin-left: 3rem;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
  }
  .contact-wrap-box-form-gender .radio_label:before {
    content: "";
    position: absolute;
    display: block;
    top: 28%;
    left: -2.5rem;
    width: 12px;
    height: 12px;
    border: 1px solid #3E3E3E;
    border-radius: 50%;
  }
  .contact-wrap-box-form-gender .radio_label::after {
    content: "";
    display: block;
    position: absolute;
    left: -2.2rem;
    top: 40%;
    width: 6px;
    height: 6px;
    background: #3F51B5;
    border-radius: 50%;
    opacity: 0;
  }
  .contact-wrap-box-form-gender .radio_label:first-of-type {
    margin-right: 9rem;
  }
  .contact-wrap-box-form-massage {
    margin-bottom: 1.2rem;
  }
  .contact-wrap-box-form-massage__heading {
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0.7rem;
  }
  .contact-wrap-box-form-massage__text-area {
    width: 98%;
    height: 160px;
  }
  .contact-wrap-box-form-agreement {
    margin-bottom: 2rem;
  }
  .contact-wrap-box-form-agreement__text {
    font-size: 16px;
  }
  .contact-wrap-box-form-agreement__label {
    margin-left: 4.1rem;
  }
  .contact-wrap-box-form-agreement__label:before {
    top: -1rem;
    left: -4rem;
  }
  .contact-wrap-box-form-agreement__label::after {
    top: -1.1rem;
    left: -3.5rem;
  }
  .contact-wrap-box-form-send {
    text-align: center;
  }
  .contact-wrap-box-form-send__btn {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.025rem;
    font-size: 18px;
    background-color: #FFAA3B;
    display: inline-block;
    border-radius: 1rem;
    padding: 1.2rem 0;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    width: 37%;
  }
}

.footer-wrap {
  background-color: #3E3E3E;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 11rem;
  padding-bottom: 11.9rem;
}

.footer-wrap-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-wrap-box-left-item .fa-size-t {
  font-size: 2.4em;
}

.footer-wrap-box-left-item .fa-size-f {
  font-size: 2.6em;
}

.footer-wrap-box-left-item .fa-twitter {
  margin-right: 1.3rem;
}

.footer-wrap-box-left-item .fab {
  margin-bottom: 4rem;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.footer-wrap-box-left-item .fab:hover {
  color: white;
}

.footer-wrap-box-left-item__text {
  margin-bottom: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  letter-spacing: 0.025rem;
  transition: all 0.5s;
}

.footer-wrap-box-left-item__text:hover {
  color: white;
  text-decoration: underline;
}

.footer-wrap-box-right {
  text-align: right;
  padding-bottom: 2.5rem;
}

.footer-wrap-box-right__heading {
  font-family: "Berlin Sans FB",sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 44px;
  letter-spacing: 0;
  color: #E3E3E3;
}

.footer-wrap-box-right__copyright {
  color: #FFF;
  font-size: 12px;
  letter-spacing: 0;
  display: inline-block;
}

@media screen and (max-width: 1179px) {
  .footer-wrap-box {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrap {
    padding-top: 1.8rem;
    padding-bottom: 11.9rem;
  }
  .footer-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer-wrap-box-left {
    width: 100%;
    margin-bottom: 3.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
  }
  .footer-wrap-box-left-item {
    display: block;
    width: 50%;
    text-align: center;
  }
  .footer-wrap-box-left-item .fab {
    margin-bottom: 3.2rem;
  }
  .footer-wrap-box-left-item__text {
    margin-bottom: 1.8rem;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.025rem;
    width: 100%;
    margin-right: 15rem;
    text-align: center;
  }
  .footer-wrap-box-right {
    text-align: right;
    padding-bottom: 2.5rem;
  }
  .footer-wrap-box-right__heading {
    font-family: "Berlin Sans FB",sans-serif;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 34.4px;
    letter-spacing: 0.15rem;
    color: #E3E3E3;
  }
  .footer-wrap-box-right__copyright {
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0.2rem;
    display: inline-block;
  }
}

.back-top-btn {
  position: fixed;
  bottom: 6rem;
  right: 9.5rem;
  z-index: 4000;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .back-top-btn {
    bottom: 7.5rem;
    right: 2rem;
  }
}
